/* Establece un estilo básico para el menú */
/* Establece un estilo básico para el menú */
.menu {
    background-color: #333;
    width: 15%; /* Ancho del menú vertical */
    height: 30%; /* Altura del menú (ajustable según tus necesidades) */
    position: fixed;
    left: 0; /* Lo coloca en el lado izquierdo de la página */
    top: 0;
    padding-top: 0; /* Elimina el margen superior */
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
}


/* Estilo para el div que envuelve la lista */
.menu-list {
    text-align: center; /* Centra horizontalmente los elementos de la lista */
}

/* Estilo para la lista de elementos del menú */
.menu-list ul {
    list-style: none;
    padding: 0;
}

/* Estilo para los elementos de la lista */
.menu-list ul li {
    margin-bottom: 10px; /* Espacio entre elementos */
}

/* Estilo para los enlaces */
.menu-list ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
}

/* Cambia el color del enlace al pasar el ratón por encima */
.menu-list ul li a:hover {
    background-color: #555;
}
