* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


#nomcomunas {
    font-size: 40px;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 5px;
    justify-content: center;
    font-family: 'Gill Sans';
    margin-bottom: 50px;
}

body {
    background-image: url('../Imágenes/Volcan.png');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    height: 100vh;
    display: flexbox;
    justify-content: center;
    text-align: center;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14vh;
}

.titulo img {
    max-width: 30%;
}


.titulos {
    justify-content: center;
    align-items: center;
    height: 16vh;
}

.titulos img {
    max-width: 30%;
}

.mapa {
    width: 1000px;
    height: 800px;
    margin-top: 100px;
}

.señalmap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-top: 50px;
}

.señalmap img {
    max-width: 40%;
}

.container svg {
    height:574.10001px;
    width:600px;
}

#imgcomunas{
    border-radius: 20px;
    margin-bottom: 87px;
    width: 600px;
    height: 400px;
}

@media screen and (max-width: 700px){

    #nomcomunas{
        font-size: 28px;
    }

    .container svg {
        height:474.10001px;
        width:500px;
    }

    #imgcomunas{
        margin-top: 30px;
        width: 500px;
        height: 300px;
    }
}

@media screen and (max-width: 536px){

    #nomcomunas{
        font-size: 20px;
    }
    
    .container svg {
        height:274.10001px;
        width:300px;
    }   

    #imgcomunas{
        margin-top: 30px;
        width: 300px;
        height: 150px;
    }
}