* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
}

body {
    background-image: url('../Imágenes/vilcun.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    text-align: center;
    height: 100vh;
    display: flexbox;
    justify-content: center;
    align-items: center;
}

.hero {
    padding: 30px 20px 0px 20px;
    position: relative;
    height: 500px;
    overflow: hidden;
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.image-container a {
    border-radius: 50px;
    margin-top: 30px;
    width: 23%; 
    height: auto;
}

.image-container img {
    border: rgb(0, 0, 0) solid;
    border-radius: 50px;
    width: 100%;
    height: 100%; 
    transition: transform 0.5s ease-in-out;
}

.image-container img:hover {
    transform: scale(0.9);
}
section {
    background-color: rgba(255, 255, 255, 0.85);
    text-align: center;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section h2 {
    color: #000a41;
    font-size: 44px;
    font-family: 'Gill Sans';
}
section h3{
    color: #000000;
    font-size: 36px;
    font-family: "Nunito", sans-serif;
}
section p{
    color: #000000;
    margin-top: 20px;
    font-size: 28px;
    font-family: "Nunito", sans-serif;
}

#descripcion{
    margin-top: 20px;
    font-size: 28px;
    font-family: cursive;
}

ul{
    list-style: none;
}

#gastronomia ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

#gastronomia ul li {
    width: 30%;
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#gastronomia ul li img {
    width: 100%;
    border-radius: 10px;
}

#gastronomia ul li h4 {
    margin-top: 10px;
    font-size: 24px;
    text-align: center;
}

#gastronomia ul li p {
    font-size: 18px;
}

#gastronomia ul li a.button {
    display: block;
    padding: 10px 20px;
    background-color: rgb(26, 110, 221);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
}

#gastronomia ul li a.button:hover {
    background-color: rgb(102, 130, 103);
}


section#entretenimiento img {
    width: 50%;
    display: block;
    margin: 0 auto;
    border: 2px solid #ccc;
    border-radius: 15px;
}
section#sitios-turisticos img {
    width: 50%;
    display: block;
    margin: 0 auto;
    border: 2px solid #ccc;
    border-radius: 15px;
}

section#cultura img {
    width: 50%; 
    display: block;
    margin: 0 auto;
    border: 2px solid #ccc;
    border-radius: 15px;
}
#prevBtn {
    position: absolute; /* Hacemos que los botones se posicionen de manera absoluta dentro del contenedor */
    top: 50%; /* Los colocamos en el centro verticalmente */
    transform: translateY(-50%); /* Alineamos verticalmente los botones al centro */
    background-image: url('../Imágenes/flecha2.png');
    background-size: cover; /* Escala la imagen para que cubra todo el botón */
    width: 50px; /* Ancho de los botones (ajusta según tu diseño) */ 
    height: 50px;
    left: -70px; /* Posicionamos el botón "Anterior" a la izquierda del contenedor */
    border: none; /* Elimina el borde del botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

#nextBtn {
    position: absolute; /* Hacemos que los botones se posicionen de manera absoluta dentro del contenedor */
    top: 50%; /* Los colocamos en el centro verticalmente */
    transform: translateY(-50%); /* Alineamos verticalmente los botones al centro */
    background-image: url('../Imágenes/flecha.png');
    background-size: cover; /* Escala la imagen para que cubra todo el botón */
    width: 50px; /* Ancho de los botones (ajusta según tu diseño) */ 
    height: 50px;
    right: -70px; /* Posicionamos el botón "Anterior" a la izquierda del contenedor */
    border: none; /* Elimina el borde del botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    
}
/* Estilos para el contenedor del carrusel */
.carrusel-container {
    width: 1000px; /* Ancho del carrusel */
    margin: 0 auto; /* Centra el carrusel en el centro de la página horizontalmente */
    overflow: hidden; /* Oculta el desbordamiento de los elementos dentro del contenedor interno */
    
}
.div_boton{
    width: 80%; /* Ancho del div */
    display:flex;
    margin: 0 auto; /* Centra el carrusel en el centro de la página horizontalmente */
    position: relative; /* Hacemos que el contenedor sea relativo para que los botones se posicionen en relación con él */
}
.imagen{
    border-radius: 50px;
    margin-top: 30px;
    width: 100%; 
    height: 100%;
}

/* Estilos para el contenedor interno de elementos del carrusel */
.carrusel {
    display: flex; /* Utiliza un diseño flexible para los elementos del carrusel */
    transition: all 0.5s ease-in-out; /* Aplica una transición suave a todos los cambios de estilo, duración de 0.5 segundos */
}

/* Estilos para cada elemento del carrusel */
.carrusel-item {
    flex: 0 0 100%; /* Ancho fijo de cada elemento del carrusel */
    text-align: center; /* Centra el contenido de cada elemento */
    border: 5px solid #ccc; /* Agrega un borde delgado con color gris */
    box-sizing: border-box; /* Hace que el tamaño incluya el borde (box-sizing: border-box) */
    padding: 20px; /* Agrega un espacio interno de 20px alrededor del contenido */
}