@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

body{
font-family: "Raleway",sans-serif;
}

.container{
  height:100vh;
  width:100vw;
  overflow:hidden;
}

.image-slider{
  position: relative;
  width:100%;
  height:100%;
  display: flex;
}

.image-slider .slide{
  position: relative;
  width:100%;
  height:100%;
  object-fit:cover;
  transition: all 2s ease-out;
}

/*Overlay*/
.overlay{
  height:100vh;
  width: 100vw;
  background: rgb(228,198,119);
  background: linear-gradient(99deg, rgba(228,198,119,0.22172619047619047) 0%, rgba(0,0,0,0.49343487394957986) 100%);
  position: absolute;
  top:0;
  left:0;
  
}

/* manuel slider controls*/
.slider-controls{
  z-index:9;
  position: absolute;
  width:95%;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.slider-controls svg{
  height:30px;
  width:30px;
  opacity:0.4;
  transition : all 300ms ease;
  cursor: pointer;
}
.slider-controls svg:hover{
  opacity:1;
}
.slider-controls svg path{
  fill:#EFEFEF;
}

/*Slider Indicators*/
.slider-indicators{
  z-index:9;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: absolute;
  bottom:20px;
  left:50%;
  transform:translate(-50%,0);
}
.slider-indicators .indicator{
  height:5px;
  width:30px;
  background-color: #ACACAC;
  border-radius:3px;
  transition : all 300ms ease;
}

.active-indicator{
  background-color: #FEFEFE !important;
}


.texto{
    z-index:9;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: absolute;
    top:10px;
    left:50%;
    transform:translate(-50%,0);
  }


.slogan{
    z-index:9;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: absolute;
    bottom:290px;
    left:50%;
    transform:translate(-50%,0);
  }

